snippet con
	console.log(${1});

snippet dojocdn
	<script data-dojo-config="async: 1" src="//ajax.googleapis.com/ajax/libs/dojo/1.8.1/dojo/dojo.js"></script>

snippet jquerycdn
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

snippet define
	define([], function () {
		${1}
	})

snippet declare
	declare([], {
		constructor: {
			${1}
		}
	})
